<section class="container">
	
	{% for p in patisserie %}
	  
		<img src="{{p.image}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
		</div>
		<div class="col-sm-6">
		<label> {{p.name}} </label><br>
		<label> Prix : {{p.prix}} </label><br><br>
		<label> Boulangerie : {{p.boulangerie}}</label>

		<label for="q">Quantité: </label>
		<select id="qt" name="q">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
		</select><br>
		
		<button type="button" class="add-to-cart" data-id="432" data-name="Pastilles" data-price="29,00" data-weight="97" data-url="/produit/pastilles-anti-douleurs/">Ajouter au panier</button>
	
	{% endfor %} 
</section>