<!doctype html>
<html lang="fr">
<head>

        <meta charset="utf-8" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/home.css">
       
</head>
<body>
<div id="entete">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">e-Boulangerie</a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#">Home</a></li>
		  <li><a href="#">Page 3</a></li>
		</ul>
	  </div>
	</nav>
</div>


 <div class="row">
  <div class="col-sm-4" style="border:3px solid #ddd;" id="gauche"> <p class="text-center">Ce que vous nous proposons !</p><br>
  
  <a href="#"><button type="button" class="btn btn-default" >Patisseries </button></a><br>
  <a href="http://localhost:8080/api/page_viennoiserie"><button type="button" class="btn btn-default">Viennoiseries</button></a>
  </div>
  <div class="col-sm-4" style="border:1px solid #ddd;">
  
  Notre entreprise vous proposez de commander gratuitement des patisseries ou des viennoiserie et de vous les faire livrer en 30 min !
  </div>
  <div class="col-sm-4" style="border:1px solid #ddd;" id="droite">Top des VENTES : <br>
  </div>
</div>


</body>

</html>